html{
	background-color:white;
}
body {
	font-family:Arial;font-size:19px;
}
header{
	border:1px solid grey;
	border-color:black;
	padding-bottom: 2%;
	padding-top: 2%;
	width: 100%;
    display: flex;
    align-items: center;
}
.article {
	display: flex;
	width: 100%;
}
.main{
	width: 100%;
	padding-bottom: 20%;
}
footer{
 	border-color:black;
	width: 100%;	
	display: flex;
    align-items: center;
	border:1px solid grey;
	bottom: 0;
	position: relative;
}
span{
	color: black;
}

form{
	display:inline-block;
}

.center {
    margin: auto;
    width: 20%;
    padding: 10px;
}

.parrafo{
	font-family:Verdana;
	font-size:17px;
	float: left;
	width: 35%;        /*350 px*/
	margin-left: 4%;   /* 75px */
	margin-right: 4%;
	text-align: center;
}


.botones{

	  background-color: white;
	  border-color:black;
	  padding: 12px 30px;
	  text-align: center;
	  margin-left: 5px;
	  cursor: pointer;

}

.titulo{
	  font-family:Arial;font-size:35px;
	  text-align: center;
	  text-decoration: underline;

}

@media screen and (max-width: 600px) {
	article {
	border:1px solid grey;
	border-color:black;	
	width: 100%;
	box-sizing: border-box;
    bottom: 100%;
    } 

  .parrafo {
  	
    position: absolute;
    top:25px;
    bottom:500px;
    width: 100%;
    max-width:100%;
  }
}