{% include 'encabezado.html' %}
    <head>
        <title>Acceso No Autorizado</title>
    </head>
{% include 'barra.html' %}
    <body>

      ACCESO NO AUTORIZADO!
      
{% include 'footer.html' %}
    </body>
</html>