{% include 'encabezado.html' %}
    <head>
        <title>Acceso No Autorizado</title>
    </head>
{% include 'barra.html' %}
    <body>
    <br>
    <center><h1>¡ACCESO NO AUTORIZADO!</h1></center>
      
{% include 'footer.html' %}
    </body>
</html>