<!DOCTYPE html >
<html lang="es">
<meta charset="utf-8" />
<link rel="stylesheet" href="../recursos/estilos/estilos.css" />
<title>Hospital Dr. Alejandro-Korn</title>
<style type="text/css">		
			
</style>
<body>
<header>
&emsp;&emsp;
<span><a href=""> Logo </a></span>
&emsp;&emsp;
<span><a href=""> Inicio </a></span>
&emsp;&emsp;
<span><a href=""> Consultas </a></span>
&emsp;&emsp;
<span><a href=""> Pacientes</a></span>
<div id="header">
	<nav>
		<ul class="nav">
			<li><a href="">Administracion</a>
			<ul>
				<li><a href="">Usuarios</a></li>
				<li><a href="">Roles</a></li>
				<li><a href="">Permisos</a></li>
			</ul>
			</li>
		</ul>
	</nav>
</div>

<input type="text" name="buscar" placeholder="Buscar ... ">
&nbsp;
<input type="button" value="Buscar">
</header>
<main class="main">
<br><br><br><br><br><br><br><br><br><br><br>
</main>
<footer>
<p>&nbsp;&nbsp;&nbsp;&nbsp; Proyecto de Software 2018 - Hospital Dr. Alejandro-Korn</p>
</footer>
</body>
</html>