{% include 'encabezado.html' %}
    <head>
        <title>Busqueda de Pacientes</title>
    </head>
    <body>
{% include 'barra.html' %}
<div class="container">
	<br>
	<h2><u>Buscar Paciente</u></h2>
	<form action="./index.php?action=buscar_paciente" method="POST">
		<div class="form-row">
	    	<div class="form-group col-md-4">
		      	<label for="apellido">Apellido:</label>
		      	<input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido" required>
	    	</div>
  		</div>
  		<div class="form-row">
	    	<div class="form-group col-md-4">
		      	<label for="nombre">Nombre:</label>
		      	<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required>
	    	</div>
  		</div>
  		<div class="form-row">
  			<div class="form-group col-md-2">
		      <label for="tipo_doc">Tipo de Documento:</label>
		      <select class="form-control" name="tipo_doc" id="tipo_doc" required>
		      <option value="DNI">DNI</option>
		      <option value="LC">LC</option>
		      <option value="CI">CI</option>
		      <option value="LE">LE</option>
	      	  </select>
    		</div>
    	</div>
    	<div class="form-row">
	    	<div class="form-group col-md-4">
	        	<label for="numero_documento">Número de Documento:</label>
	        	<input type="number" class="form-control" id="numero_documento" name="numero_documento" placeholder="Número de Documento" required>
	    	</div>
    	</div>
    	<div class="form-row">
	    	<div class="form-group col-md-4">
		      	<label for="numero_historia_clinica">Número de Historia Clínica:</label>
		      	<input type="number" class="form-control" id="numero_historia_clinica" name="numero_historia_clinica" placeholder="Número de Historia Clíica" required>
	    	</div>
	    </div>
		<input type="submit" class="btn btn-primary" value="Enviar"/>
		</form>
</div>
	{% include 'footer.html' %}
    </body>
</html>
