<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Home</h1>
        <ul>
            <li><a href="./?action=listResources"> Localidades </a></li>
            <li><a href="./?action=listarInstituciones"> Instituciones </a></li>
        </ul>
    </body>
</html>