<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Home</h1>
        <ul>
            <li><a href="./?action=listResources"> Listar Usuarios </a></li>
            <li><a href="./?action=listarInstituciones"> Instituciones </a></li>
            <li><a href="./?action=agregarUsuario"> Agregar Usuario </a></li>
            <li><a href="./?action=eliminarUsuario"> Eliminar Usuario </a></li>
            <li><a href="./?action=registrarse"> Registrarse </a></li>
        </ul>
    </body>
</html>