{% include 'encabezado.html' %}
    <head>
        <title>Home</title>
    </head>
{% include 'barra.html' %}
    <body>
        <h1>Home</h1>
        <ul>
            <li><a href="./?action=listResources"> Listar Usuarios </a></li>
            <li><a href="./?action=listarInstituciones"> Instituciones </a></li>
            <li><a href="./?action=agregarUsuario"> Agregar Usuario </a></li>
            <li><a href="./?action=eliminarUsuario"> Eliminar Usuario </a></li>
            <li><a href="./?action=registrarse"> Registrarse </a></li>
             <li><a href="./?action=iniciarSesion"> Iniciar Sesion </a></li>
              <li><a href="./?action=listarPacientes"> Listar Todos los Pacientes </a>
                <li><a href="./?action=agregarPaciente"> Agregar Paciente </a></li>
            
        </ul>
{% include 'footer.html' %}
    </body>
</html>