{% include 'encabezado.html' %}
    <head>
        <title>Home</title>
    </head>
{% include 'barra.html' %}
    <body>
        <h1>Home</h1>
<div class="containter">
        <ul>
            <li><a href="./?action=listResources"> Listar Usuarios </a></li>
            <li><a href="./?action=listarInstituciones"> Instituciones </a></li>
            <li><a href="./?action=registrarse"> Registrarse </a></li>
            <li><a href="./?action=listarPacientes"> Listar Todos los Pacientes </a>
            <li><a href="./?action=agregarPaciente"> Agregar Paciente </a></li>
            <li><a href="./?action=moduloDeConfiguracion"> Módulo de Configuración </a></li>
            <li><a href="./?action=buscarPaciente"> Buscar Paciente </a></li>
            <li><a href="./?action=traerMisPermisos&us={{resources.usuario}}"> Ver mis permisos </a></li>
        </ul>
</div>
{% include 'footer.html' %}
    </body>
</html>