<!DOCTYPE html>
<html>
    <head>
        <title>Localidades</title>
    </head>
    <body>
        <h1>Localidades</h1>
        <ul>
        {% for item in resources %}
           <li>{{item.username}} </li>
        {% endfor %}
        </ul>
    </body>
</html>