{% include 'encabezado.html'%}
    <head>
        <title>Usuarios</title>
    </head>
{% include 'barra.html'%}
    <body>
        <h1>Usuarios</h1>
        <ul>
        {% for item in resources %}
           <li>{{item.username}}
            <a href="">Activar/Bloquear</a>
            </li>
           <a href="./?action=eliminarUsuario&id={{ item.id }}">Eliminar Usuario</a>&nbsp;
           <a href="./?action=editarUsuario&id={{ item.id }}">Editar Usuario</a>&nbsp;
           <a href="./?action=agregarRol&id={{ item.id }}">Agregar un rol</a>
        {% endfor %}
        </ul>
{% include 'footer.html'%}
    </body>
</html>