{% include 'encabezado.html' %}
<body>
{% include 'barra1.html' %}

<main class="main">
<br>
<center><form action=./index.php?action=verificarDatos method="POST">
  <div class="form-group">
    <label for="usuario">Usuario</label>
     <div class="col-3">
    <input class="form-control" id="usuario" name="usuario" placeholder="Usuario" required>
	</div>
  </div>
  <div class="form-group">
    <label for="contraseña">Contraseña</label>
     <div class="col-3">
    <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="Contraseña" required>
	</div>
  </div>
  <button type="submit" class="btn btn-primary">Aceptar</button>
</form></center>
</main>
{% include 'footer.html' %}
</body>
</html>