{% include 'encabezado.html' %}
    <head>
        <title>Home</title>
    </head>
{% include 'barra.html' %}
    <body>
        <div class="containter">
        <br>
        <center><h1>Momenentaneamente el sitio se encuentra en mantenimiento
        <br>
        Disculpe las molestias</h1>
        </center>
        </div>
{% include 'footer.html' %}
    </body>
</html>