{% include 'encabezado.html' %}
<body>
<br>
<center><h1>Momentaneamente el sitio se encuetra en mantenimiento.
<br>
Disculpe las molestias.</h1>
<br></center>
<br>
<center>- Hospital Dr. Alejandro Korn -</center>
</body>
</html>