{% include 'encabezado.html'%}
    <head>
      <title>Usuarios</title>
    </head>
{% include 'barra.html'%}
    <body>
      <br>
      <div class="container">
        <br>
        <div class="form-row">
          <div class="form-group col-md-4">
            <h2><u>Reportes</u></h2>
          </div>
        </div>
        <div class="table-responsive"> 
          <table class="table">
            <tbody>
              <tr>
                <td><a><strong>Consultas agrupadas por motivo</strong></a></td>
                <td><a class="btn btn-primary btn-sm" href="./?action=listadoPorCriterio&i=1">Ver Listado</a></td>
                <td><a class="btn btn-primary btn-sm" href="./?action=graficoPorCriterio&i=1">Ver Gráfico</a></td>
              </tr>
              <tr>
                <td><a><strong>Consultas agrupadas por género</strong></a></td>
                <td><a class="btn btn-primary btn-sm" href="./?action=listadoPorCriterio&i=2">Ver Listado</a></td>
                <td><a class="btn btn-primary btn-sm" href="./?action=graficoPorCriterio&i=2">Ver Gráfico</a></td>
              </tr>
              <tr>
                <td><a><strong>Consultas agrupadas por localidades</strong></a></td>
                <td><a class="btn btn-primary btn-sm" href="./?action=listadoPorCriterio&i=3">Ver Listado</a></td>
                <td><a class="btn btn-primary btn-sm" href="./?action=graficoPorCriterio&i=3">Ver Gráfico</a></td>
              </tr>        
            </tbody>
          </table>
      </div>
    </div>
{% include 'footer.html'%}
    </body>
</html>