{% include 'encabezado.html'%}
    <head>
        <title>Roles</title>
    </head>
{% include 'barra.html'%}
    <body>
      <div class="container">
        <h1>Roles</h1>
        <ul>
        {% for item in resources %}
           <li><u><strong>{{item.nombre}}</strong></u></li>
           <br>
        {% endfor %}
        </ul>
        </div>
{% include 'footer.html'%}
    </body>
</html>