{% include 'encabezado.html'%}
    <head>
        <title>Roles</title>
    </head>
{% include 'barra.html'%}
    <body>
      <div class="container">
        <br>
        <div class="form-row">
          <div class="form-group col-md-6">
            <h2><u>Roles</u></h2>
          </div>
            <div class="form-group col-md-4">
            <a class="btn btn-primary btn-sm float-right" href="./?action=altaRol"> Agregar Rol </a>
          </div>
        </div>
          <div class="table-responsive"> 
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Eliminar</th>
                </tr>
          </thead>
          <tbody>
        {% for item in resources.resources %}
           <tr><td>{{item.nombre}}</td>
            <td><a class="btn btn-primary btn-sm" href="./?action=editarRol&id={{ item.id }}"> Editar </a></td>
            <td><a class="btn btn-primary btn-sm" href="./?action=eliminarRol&id={{ item.id }}" onclick="return confirmar()"> Eliminar </a></td>
          </tr>
        {% endfor %}
        </table>
        </div>
{% include 'footer.html'%}
    </body>
</html>